parameters:
    level: 6
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon